---
import Layout from '../layouts/BlogPost.astro';
---

<Layout
	title="Recettes"
	description="Nos recettes / Noestras recettas"
	pubDate={new Date('May 28 2026')}
	heroImage="/blog-placeholder-about.jpg">
	<p>

<b>Pan de Banano</b>
<br><br>
225 g (1 1/2 taza) de harina para todo uso (o harina común)
<br>
5 ml (1 cdta.) de polvo para hornear (o levadura química)
<br>
5 ml (1 cdta.) de bicarbonato de sodio
<br>
310 ml (1 1/4 taza) de plátanos muy maduros machacados (4 plátanos / bananas)
<br>
125 ml (1/2 taza) de leche
<br>
15 ml (1 cda.) de jugo de limón (o zumo de limón)
<br>
115 g (1/2 taza) de mantequilla ablandada (o a temperatura ambiente)
<br>
210 g (1 taza) de jarabe de arce (o sirope de arce / azúcar)
<br>
2 huevos
<br>
5 ml (1 cdta.) de extracto de vainilla de Jalisco (MX)

<br><br>
Instrucciones:
<br>
Colocar la rejilla en el centro del horno. Precalentar el horno a 180 °C (350 °F). Engrasar con mantequilla un molde para pan de 23 x 13 cm (9 x 5 plg) con una capacidad de 1.5 litros (6 tazas).
<br>
En un tazón, mezclar la harina, el polvo para hornear y el bicarbonato. Luego, agregar los ingredientes líquidos y la mantequilla.
<br>
Mezclar todo con una batidora eléctrica hasta que la preparación quede homogénea. Verter la masa en el molde.
<br>
Hornear durante 45 minutos o hasta que al introducir un palillo en el centro del pan, este salga limpio.
	</p>

	<p>

<b>Pain aux bananes</b>
<br>

225 g (1 1/2 tasse) de farine tout usage
5 ml (1 c. à thé) de poudre à pâte
5 ml (1 c. à thé) de bicarbonate de soude
310 ml (1 1/4 tasse) de bananes bien mûres écrasées (4 bananes)
125 ml (1/2 tasse) de lait
15 ml (1 c. à soupe) de jus de citron
115 g (1/2 tasse) de beurre ramolli
210 g (1 tasse) de syrop d'érable (ou sucre)
2 oeufs
5 ml (1 c. à thé) d’extrait de vanille de Jalisco (MX) 
<br><br>
Instructions:
<br>
Placer la grille au centre du four. Préchauffer le four à 180 °C (350 °F). Beurrer un moule à pain de 23 x 13 cm (9 x 5 po) d’une contenance de 1,5 litre (6 tasses).
<br>
Dans un bol, mélanger la farine, la poudre à pâte et le bicarbonate. Ajouter ensuite les ingrédients liquides et le beurre.
<br>
Mélanger le tout au batteur électrique jusqu’à ce que la préparation soit homogène. Répartir la pâte dans le moule.
<br>
Cuire au four 45 minutes ou jusqu’à ce qu’un cure-dents inséré au centre du pain en ressorte propre.
<br>
Laisser tiédir sur une grille. Démouler. Sur un plan de travail, couper en tranches.
	</p>

</Layout>
